/ClashOfAvatars/.vsconfig
/ClashOfAvatars/ClashOfAvatars.sln
/ClashOfAvatars/.vs
/ClashOfAvatars/Binaries
/ClashOfAvatars/DerivedDataCache
/ClashOfAvatars/Intermediate
/ClashOfAvatars/Saved
/ClashOfAvatars/Content/Characters/Mannequins
/ClashOfAvatars/Platforms

/LabWork_2/.vsconfig
/LabWork_2/LabWork_2.sln
/LabWork_2/.idea
/LabWork_2/.vs
/LabWork_2/Binaries
/LabWork_2/DerivedDataCache
/LabWork_2/Intermediate
/LabWork_2/Saved
/LabWork_2/Content/Materials
/LabWork_2/Content/Meshes
/LabWork_2/Content/UI
/LabWork_2/Content/Blueprints

/LabWork_3/DerivedDataCache
/LabWork_3/Intermediate
/LabWork_3/Saved
/LabWork_3/.idea
/LabWork_3/.vs
/LabWork_3/.vsconfig
/LabWork_3/LabWork_3.sln
/LabWork_3/Binaries
/LabWork_3/Content/Efe
/LabWork_3/Content/Materials
/LabWork_3/Content/Models
/LabWork_3/Content/Textures
/LabWork_3/Content/UI

/LabWork_4/Saved
/LabWork_4/.vsconfig
/LabWork_4/LabWork_4.sln
/LabWork_4/.idea
/LabWork_4/.vs
/LabWork_4/Binaries
/LabWork_4/Intermediate
/LabWork_4/Content/Maps
/LabWork_4/Content/StylizedModularChar
/LabWork_4/Content/Blueprints
/LabWork_4/Content/Geometry
/LabWork_4/Content/Mannequin
